.footer{
    background-color:var(--black-color);
    height: 96px ;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.footer__wrapper-btn{
    margin: 24px 0 0 32px;
}

.btn{
    border: none;
    padding: 17px 24px 18px 25px;
    background-color: var(--dark-gray-color);
    color: var(--light-gray-color);
    border-radius: 32px;
    cursor: pointer;
    font-family: 'Roboto', "sans-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
}
